@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$magic-purple: #781E5D;
$hover-links: #1E8CBE;

/* universal */
body{
  margin: 0 auto !important;
}

header{
    background-color: $magic-purple;
}

.container{
  margin: 10px auto;
  a{
    color: $magic-purple !important;
    &:hover{
      color: $hover-links !important;
      background: none !important;
      text-decoration: none;
    }
  }
  .btn{
    color: white !important;
  }
}

.btn.btn-primary.btn-lg.btn-block{
  color: white !important;
  background: #2D5973 !important;
  &:hover{
    background: $magic-purple !important;
  }
}


.btn.btn-success.btn-lg.btn-block,
.btn.btn-warning.btn-lg.btn-block{
  color: white !important;
  &:hover{
    background: $magic-purple !important;
  }
}

.navbar.navbar-default.navbar-inverse{
    background-color: $magic-purple;
    
    a {
        color: white;
        &:hover {
          background-color: $magic-purple;
          color: #D0FDFF;
        }
      }
}

.dropdown-menu{
  background-color: white !important;
  color: $magic-purple !important;
  a {
    color: $magic-purple !important;
    &:hover {
      background-color: $magic-purple !important;
      color: white !important;
    }
  }
  
}
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  /* footer */

  footer {
    padding: 15px;
    border-top: 1px solid #eaeaea;
    color: #777;
    margin-top: 130px;
    a {
      color: #555;
      &:hover {
        color: #222;
        background: none !important;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }

  /* sidebar */

.sidebar-home {
  section.user_info {
    margin-top: 0px;
  }
  section {
    // padding: 10px 0;
    margin-top: 10px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 0px;
}

.gravatar_edit {
  margin-top: 15px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* cards */
.card{
  margin-bottom: 40px;
}

.col-sm-3.outfit img{
  width: 100%;
}

/* favorites */

.fa.fa-heart{
  color: lightgray;
  background: none;
}

.fa.fa-heart.fav{
  color: red;
}

.glyphicon.glyphicon-heart{
  color: lightgray;
  background: none;
}

.glyphicon.glyphicon-heart.fav{
  color: red;
}

/* Buttons */
.wearthis{
  width: 30%;
  margin: 10px 0px;
}

.washthis{
  width: 40%;
}

.washeverything{
  max-width: 40%;
  margin-bottom: 20px;
}

.display_none{
  display: none;
}
.center{
  flex-wrap: wrap;
}

/* forms */

.form-btn{
  margin-top:10px;
  width: 40%;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* family index */

.textstuff{
  margin-left: 10px !important;
}

/* Login Page */

.login{
  background: url(./background.jpg) fixed;
  color: white !important;
  a {
    color: #1E8CBE !important;
    padding: 5px;
    &:hover {
      color: white !important;
      background: none;
    }
  }
  h1 {
    color: white;
    text-align: center;
  }
  label {
    color: rgb(255, 255, 255);
  }
  input, textarea, select, .uneditable-input {
    background: rgba(255, 2555, 255, .3);
    color: white;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }
  input {
    height: auto !important;
    padding: 10px;
  }
  .btn-purple{
    background: $magic-purple;
    color: white;
  }
  
  .btn-purple:hover{
    color: white;
    background: #8A0A43;
  }
}


.item-img{
  margin-left: 15px;
}


/* Responsive */
@media (min-width: 320px) and (max-width: 480px){
  .hide-on-mobile{
    display: none;
  }
  .footer{
    display: none;
  }
  .recently-tops{
    display: none;
  }
  .col-sm-3.outfit img{
    width: 50%;
  }
  .form-btn{
    margin-top:10px;
    width: 100%;
  }
 
}

@media (min-width: 481px) and (max-width: 767px) {
  .hide-on-mobile{
    display: none;
  }
  .footer{
    display: none;
  }
  .recently-tops{
    display: none;
  }
  .col-sm-3.outfit img{
    width: 50%;
  }
  .form-btn{
    margin-top:10px;
    width: 100%;
  }
 
}
